<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- Replace the value of the following key to your Okta tenant full url, such as https://companyname.okta.com or https://dev-XXXX.oktapreview.com -->
    
    <add key="okta:TenantUrl" value="https://tenantname.oktapreview.com" />

    <!-- Set the value of the following key with the id value of your OAuth Okta client (read Readme.md for more information) -->

    <add key="okta:ClientId" value="" />


    <!-- Set the value of the following key to your API Token (instructions available at https://developer.okta.com/docs/api/getting_started/getting_a_token.html ). This key is only necessary to perform the custom authorization (based on group memberships) in the OktaGroupMembershipAttribute.cs class, assigned to the Secured method of the ValuesController  -->
    <add key="okta:ApiKey" value="00HL1Rh7ZrY0XyVvvj52pLfXHQI_ZOJzfVFlFMCf8r" />
  </appSettings>
</configuration>