<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="okta:ClientId" value="64Q3xyMFKfNiuSIfvjBn" />
    <add key="okta:TenantUrl" value="https://oidcdemos.oktapreview.com" />
  </appSettings>
</configuration>