<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true"  />
    
    <!-- Replace the value of the following key with your Okta tenant full url, such as https://companyname.okta.com or https://dev-XXXX.oktapreview.com -->
    
    <add key="okta:TenantUrl" value="https://tenantname.oktapreview.com" />
    
    <!-- Set the value of the following key with the id value of your OAuth Okta client (instructions available at https://developer.okta.com/docs/guides/social_authentication.html#setting-up-a-social-authentication-provider-in-okta) -->
    
    <add key="okta:ClientId" value="" />
    
    <!-- Replace the value of the following key with the url of your ASP.NET Web API (the current value is the default value of the WebApi project) -->
    
    <add key="WebApiUrl" value="https://localhost:44310" />
    
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
