@{
    ViewBag.Title = "AngularJS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="/js/okta-auth-js-1.0.2.js"></script>
@*<script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-auth-js/1.0.1/okta-auth-js-1.0.1.min.js"></script>*@
<link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.2.0/css/okta-sign-in-1.2.0.min.css" type="text/css" rel="stylesheet">
<link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.2.0/css/okta-theme-1.2.0.css" type="text/css" rel="stylesheet">

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="auth-content" style="max-width:400px">
        <div class="auth-content-inner">
            <div class="primary-auth">
                <div data-se="o-form-content" class="o-form-content o-form-theme clearfix">
                    <h2 data-se="o-form-head" class="okta-form-title o-form-head">Custom Sign In with Okta JavaScript SDK</h2>
                    <div class="o-form-error-container" data-se="o-form-error-container"></div>
                    <div class="o-form-fieldset-container" data-se="o-form-fieldset-container">
                        <div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top">
                            <div data-se="o-form-input-container" class="o-form-input">
                                <span data-se="o-form-input-username" class="okta-form-input-field input-fix o-form-control">
                                    <input type="text" placeholder="Username" ng-model="userName" name="username">
                                </span>
                            </div>
                        </div>
                        <div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top">
                            <div data-se="o-form-input-container" class="o-form-input">
                                <span data-se="o-form-input-password" class="okta-form-input-field input-fix o-form-control">
                                    <input type="password" placeholder="Password" ng-model="password">
                                </span>
                            </div>
                        </div>
                        <div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top margin-btm-0">
                            <div class="o-form-button-bar">
                                <button ng-click="loginFunction()">Log In</button><button ng-click="getUser()">Get User Info</button><button ng-click="logoutFunction()">Log Out</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auth-footer"></div>
            </div>
        </div>

        <p>userName: '{{userName}}'</p>
        <p>Okta Session Token:  '{{oktaSessionToken}}'</p>
    </div>

    <script>
        var oktaOrgUrl = '@System.Web.Configuration.WebConfigurationManager.AppSettings["okta:TenantUrl"]';
        var oidcClientId = '@System.Web.Configuration.WebConfigurationManager.AppSettings["okta:ClientId"]';
        app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.userName = "";
            $scope.password = "";
            $scope.oktaSessionToken = "";

            $scope.loginFunction = function () {

                authClient = new OktaAuth({
                    url: oktaOrgUrl,
                    clientId: oidcClientId,
                    redirectUri: "https://oktadev.ngrok.io"
                });

                authClient.signIn({
                    username: $scope.userName,
                    password: $scope.password
                })
                .then(function (transaction) {
                    console.log("transaction = " + Object.prototype.toString.call(transaction));
                    switch (transaction.status) {

                        case 'SUCCESS':
                            //authClient.session.setCookieAndRedirect(transaction.sessionToken); // Sets a cookie on redirect
                            return authClient.idToken.authorize({
                                sessionToken: transaction.sessionToken
                            })
                            .then(function (res) {
                                console.log(res);
                                console.log(res.claims);
                                console.log(res.idToken);
                                localStorage.setItem('id_token', res.idToken);
                            });
                            console.log("ID Token:" + authClient.idToken);
                            authClient.idToken.authorize().then(function (res) {
                                console.log("ID Token from response" + res.idToken);
                                console.log("Response claims" + res.claims);
                            })
                            $scope.oktaSessionToken = transaction.sessionToken;
                            console.log("oktaSessionToken = " + $scope.oktaSessionToken);
                            console.log("Transaction status: " + transaction.status);
                            $scope.$apply();
                            break;

                        default:
                            throw 'Error status' + transaction.status + ' was thrown';
                    }
                })
                .fail(function (err) {
                    console.error(err);
                })



            }

            $scope.logoutFunction = function () {

                authClient = new OktaAuth({ url: oktaOrgUrl });

                authClient.signOut()
                .then(function (transaction) {

                    switch (transaction.status) {

                        case 'SUCCESS':

                            console.log("Issued logout for session Token : " + $scope.oktaSessionToken);
                            console.log("Transaction status: " + transaction.status);
                            $scope.oktaSessionToken = null;
                            $scope.$apply();
                            break;

                        default:
                            throw 'Error status' + transaction.status + ' was thrown';
                    }
                })
                   .fail(function (err) {
                       console.error(err);
                   })

            }

            $scope.getUser = function () {

                authClient = new OktaAuth({ url: oktaOrgUrl });

                authClient.session.get()
                    .then(function (session) {
                        console.log('entered getUser function')
                        return session.user()
                        .then(function (user) {
                            // do something with the user info
                        });
                    })
                    .fail(function (err) {
                        console.error(err);
                    });
            }
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
