<div class="row">
    <div class="col-md-6" id="content-left">
        <p>
            This is a demonstration of how to use Okta to handle authentication for an ASP.NET "single page application".
        </p>
        <div id="logged-out-message">
            <!-- Source: http://openclipart.org/detail/34273/tango-system-lock-screen-by-warszawianka -->
            <img src="~/Content/Images/locked-screen.png" alt="Locked computer screen" />
        </div>

        <div id="logged-in-message" style="display: none;">
            <img src="~/Content/Images/top-secret.png" alt="TOP SECRET" />
            @*<button class="btn btn-lg btn-primary" onclick="callUserInfo()">Call OAuth UserInfo</button>*@
        </div>
        <div id="apicall-buttoms">
            <h1><span id="logged-in-res"></span></h1>
            <button class="btn btn-lg btn-primary" onclick="callUnsecureWebApi()">Unsecure API</button>
            <button class="btn btn-lg btn-primary" onclick="callSecureWebApi()">Secure API</button>
            @*<button class="btn btn-lg btn-primary" onclick="callUserInfo()">User Info</button>*@
            @*<button class="btn btn-lg btn-primary" onclick="callSessionsMe()">My Session</button>*@
        </div>
    </div>
    <div class="col-md-6" id="content-right">
        <div id="okta-sign-in-widget" style="margin-top: 0px"></div>
        <div id="logged-in-user-id" style="display: none;">
            <p>Logged in as User ID: <span id="okta-user-id"></span></p>
        </div>
    </div>
</div>
<script type="text/javascript">
    var oktaOrgUrl = '@System.Web.Configuration.WebConfigurationManager.AppSettings["okta:TenantUrl"]';
    var webApiRootUrl = '@System.Web.Configuration.WebConfigurationManager.AppSettings["WebApiUrl"]';
</script>
<script src="~/Scripts/single-page.js">
</script>
<script type="text/javascript">
    function setupOktaSignIn(baseUrl, clientId) {
        return new OktaSignIn({
            baseUrl: baseUrl,
            clientId: clientId,
            authParams: {
                responseType: 'id_token',
                responseMode: 'okta_post_message',
                scope: ['openid', 'profile', 'email', 'phone']
            },
            features: {
                rememberMe: true,
            },
            helpLinks: {
                help: 'http://acme.com/custom/help/page',
                forgotPassword: '/Account/ForgotPassword',
                custom: [
                    { text: 'custom link text 1', href: 'http://acme.com/custom/link1' },
                 { text: 'custom link text 2', href: 'http://acme.com/custom/link2' }
                ]
            }
        });
    };

    var oktaSignIn = setupOktaSignIn(oktaOrgUrl, '@System.Web.Configuration.WebConfigurationManager.AppSettings["okta:ClientId"]');

    $(document).ready(function () {
        // defined in 'single-page.js'
        renderOktaWidget();
    });
</script>